




<div class="rounded overflow-hidden shadow-lg max-w-full w-full bg-slate-100 p-4">
    
    <form #form="ngForm" class="grid grid-cols-1">

        <ng-container *ngFor="let field of agForm.fields">
            <ng-container 
            [ngTemplateOutlet]="stringInput"
            [ngTemplateOutletContext]="{field: field, item: item}">

            </ng-container>


        </ng-container>

        <mat-form-field>
            <label>Name</label>
            <input matInput name="name" required="true" [(ngModel)]="item.name">
        </mat-form-field>

        <mat-form-field>
            <label>Age</label>
            <input matInput name="age" type="number" step="1" [(ngModel)]="item.age">
        </mat-form-field>

    </form>

    <div class="py-4">
        <button 
        id="submit"
        type="button" 
        [disabled]="! agForm.valid || ! agForm.dirty"
        [class.disabled]="! agForm.valid || ! agForm.dirty"
        (click)="submit()"
        class="rounded border-2 border-azule bg-slate-100 hover-bg-azule hover:text-white px-8 py-2 text-azule">
            Submit
        </button>
    </div>

</div>

<ng-template #stringInput let-field="field" let-item="item">
    <mat-form-field>
        <label>{{ field.label }}</label>
        <input matInput [name]="field.name" required="true" [(ngModel)]="item[field.name]">
    </mat-form-field>
</ng-template>
